{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7 js-rep-log-table">
            <h2>
                Lift History
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>What</th>
                    <th>How many times?</th>
                    <th>Weight</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for repLog in repLogs %}
                    {{ include('lift/_repRow.html.twig') }}
                {% else %}
                    <tr>
                        <td colspan="4">Get liftin'!</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <th>Total</th>
                    <th class="js-total-weight">{{ totalWeight }}</th>
                    <td>&nbsp;</td>
                </tr>
                </tfoot>
            </table>

            <div class="js-new-rep-log-form-wrapper">
                {{ include('lift/_form.html.twig') }}
            </div>

        </div>
        <div class="col-md-5">
            <div class="leaderboard">
                <h2 class="text-center">
                    <img class="dumbbell" src="{{ asset('assets/images/dumbbell.png') }}"/>
                    Leaderboard
                </h2>

                {{ include('lift/_leaderboard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/RepLogApp.js') }}"></script>

    <script>
        $(document).ready(function () {
            var $wrapper = $('.js-rep-log-table');
            var repLogApp = new RepLogApp($wrapper);
        });
    </script>

    <script type="text/template" id="js-rep-log-row-template">
        <tr data-weight="<%= totalWeightLifted %>">
            <td><%= itemLabel %></td>
            <td><%= reps %></td>
            <td><%= totalWeightLifted %></td>
            <td>
                <a href="#" class="js-delete-rep-log"
                   data-url="<%= links._self %>">
                    <span class="fa fa-trash"></span>
                </a>
            </td>
        </tr>
    </script>
{% endblock %}
